<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="favicon.ico">

    <title>{{ year | default('') }} — 53 weeks</title>

    <style>
        body {
            margin: 1ex;
        }
        :root {
            --day-inner: calc((99vw - 2 * 1ex) / 8 - 2 * 1ex);
            --day-padding: 1ex;
            --day-border: 1px;
            --day-width: calc(var(--day-inner) + 2 * var(--day-padding));
            --common-event-height: auto;
            --common-row-height: auto;
        }
        :root:has(#compactcheckbox:checked), :root:has(#compact:target) {
            --common-event-height: 1lh !important;
        }
        :root:has(#compactcheckbox:checked) .event, :root:has(#compact:target) .event {
            text-wrap: nowrap;
        }
        :root:has(#compactcheckbox:checked) .event:hover, :root:has(#compact:target) .event:hover {
            text-wrap: initial;
        }
        #compact, :root:has(#compact:target) .compactcheckbox {
            display: none;
        }
        th, td {
            box-sizing: border-box;
            width: var(--day-width);
            min-width: var(--day-width);
            max-width: var(--day-width);
            overflow: hidden;
            padding: var(--day-padding);
            border: var(--day-border) solid grey;
        }
        th label, th input {
            font-weight: normal;
            font-size: smaller;
            vertical-align: middle;
        }
        td:has(label) {
            padding: 0;
        }
        td label {
            padding: var(--day-padding);
            display: block; /* fill the whole parent cell */
        }
        .dayselect {
            display: none;
        }
        td:has(.dayselect:checked) {
            background: rgba(255, 165, 0, 0.5);
        }
        td:has(.dayselect:checked):not(.holiday):not(.nonworkingday) {
            background: rgba(255, 165, 0, 0.8);
        }
        table {
            border-collapse: collapse;
        }
        th, td.monthname {
            text-align: left;
        }
        td {
            text-align: right;
        }
        .holiday {
            color: red;
        }
        .nonworkingday {
            color: green;
        }
        #floating-counter {
            position: fixed;
            background: rgba(255, 165, 0, 0.5);
            bottom: calc(3 * var(--day-padding));
            left: calc(3 * var(--day-padding));
            padding: var(--day-padding);
        }
        #floating-counter:empty {
            display: none;
        }
        #delete-button {
            float: right;
        }
        #delete-button.nothing-to-delete {
            display: none;
        }
        td.eventrow {
            padding: 0;
            height: var(--common-row-height);
            vertical-align: top;
        }
        :root:has(#collapsecheckbox:checked) td.eventrow {
            height: var(--common-event-height);
            opacity: 0.25;
        }
        .event {
            position: relative;
            height: var(--common-event-height);
            text-align: left;
            background: lightgrey;
            overflow: hidden;
        }
        :root:has(#collapsecheckbox:checked) .event {
            position: absolute;
            margin-left: calc(1ex + var(--day-width) + var(--day-border));
        }
        .event:hover {
            overflow: visible;
        }
        .hidden-event {
            opacity: 0.2;
        }
        {% for category, color in categories.items() %}
        .{{ category }} {
            background: {{ color }};
        }
        {% endfor %}
    </style>
  </head>

  <body>
    <div id="compact"></div>

    <div class="container">
        <table>
            <tr>
                <th>
                    {{ year | default('') }}
                    <input type="checkbox" id="compactcheckbox" class="compactcheckbox" /><label for="compactcheckbox" class="compactcheckbox">&nbsp;compact</label>
                    <input type="checkbox" id="collapsecheckbox" class="collapsecheckbox" /><label for="collapsecheckbox" class="collapsecheckbox">&nbsp;collapse</label>
                    <input type="button" id="delete-button" class="nothing-to-delete" value="🗑️" onclick="clearStorage()" />
                </th>
                <th>Mo</th>
                <th>Di</th>
                <th>Mi</th>
                <th>Do</th>
                <th>Fr</th>
                <th>Sa</th>
                <th>So</th>
            </tr>
            {% for week in weeks %}
            <tr>
                <td class="monthname">{{ week.month }}</td>
                {% for day in week.days %}
                    <td class="{{ 'holiday' if day.bank_holiday or day.weekend else ('nonworkingday' if day.nonworking_day) }}">
                        <input type="checkbox" class="dayselect" id="day-{{ day.date }}" />
                        <label for="day-{{ day.date }}">{{ day.number }}</label>
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td class="monthname"></td>
                <td class="eventrow" colspan="7">
                    {% for event in week.events %}
                    <div
                            class="event {{ event.category|e }} {{ event.uuidclass|e }}"
                            title="{{ event.location|e }}{% if event.description %}&#10;{{ event.description|e|replace("\n", "&#10;") }}{% endif %}"
                            style="left: calc({{ event.start_offset }} * var(--day-width)); width: calc({{ event.length }} * var(--day-width) - var(--day-border));"
                            >{{ event.summary|e }}</div>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div> <!-- /container -->
    <div id="floating-counter"></div>
  </body>
  <script>
      var storagePrefix = location.host + location.pathname + location.search;

      function updateGlobalMaxHeights(maxEventHeight) {
          if (maxEventHeight != undefined) {
              document.querySelector(':root').style.setProperty('--common-event-height', maxEventHeight);
          } else {
              document.querySelector(':root').style.setProperty('--common-event-height', 'auto');
              /* after page has been rendered (and thus events been autosized), make all events as tall as the tallest one */
              var maxEventHeight = 0;
              document.querySelectorAll('.event').forEach(
                  (element, index, array) => {
                      maxEventHeight = Math.max(maxEventHeight, element.clientHeight || 0);
                  }
              )
              document.querySelector(':root').style.setProperty('--common-event-height', maxEventHeight + 'px');
          }

          document.querySelector(':root').style.setProperty('--common-row-height', 'auto');
          /* after page has been rendered (and thus rows been autosized), make all rows as tall as the tallest one */
          var maxRowHeight = 0;
          document.querySelectorAll('td:has(.event)').forEach(
              (element, index, array) => {
                  maxRowHeight = Math.max(maxRowHeight, element.clientHeight || 0);
              }
          )
          document.querySelector(':root').style.setProperty('--common-row-height', maxRowHeight + 'px');
      }

      function clearStorage() {
          if (confirm('Do you really want to reset all hidden events and all selected days for "' + storagePrefix + '"?\nThis action cannot be undone!')) {
              localStorage.removeItem(storagePrefix + '|hiddenEvents');
              localStorage.removeItem(storagePrefix + '|selectedDays');
              location.reload();
          }
      }

      function applyHiddenEvents() {
          var hiddenEventsIDs = JSON.parse(localStorage.getItem(storagePrefix + '|hiddenEvents'));
          if (!hiddenEventsIDs) {
              return;
          }
          Array.from(hiddenEventsIDs).forEach(
              function(eventID, eIIndex, eIArray) {
                  Array.from(document.getElementsByClassName(eventID)).forEach(
                      function(element, index, array) {
                          element.classList.toggle('hidden-event');
                      }
                  );
              }
          );
      }

      function applySelectedDays() {
          var selectedDayDates = JSON.parse(localStorage.getItem(storagePrefix + '|selectedDays'));
          if (!selectedDayDates) {
              return;
          }
          Array.from(selectedDayDates).forEach(
              function(dayID, dIIndex, dIArray) {
                  elem = document.getElementById(dayID);
                  if (elem) {
                      elem.checked = true;
                  }
              }
          );
      }

      function toggleHiddenEvent(clickedClassName) {
          Array.from(document.getElementsByClassName(clickedClassName)).forEach(
              function(element, index, array) {
                  element.classList.toggle('hidden-event');
              }

              );

          var hiddenEvents = Array.from(document.getElementsByClassName('hidden-event'));
          // get an Array of all hidden elements' unique IDs
          var hiddenEventsIDs = Array.from(new Set(hiddenEvents.map((elem) => Array.from(elem.classList).find((cla) => cla.startsWith('event-')))));
          localStorage.setItem(storagePrefix + '|hiddenEvents', JSON.stringify(hiddenEventsIDs));

          updateDeleteButtonVisibility();
      }

      function updateSelectedDays() {
          // count all user-selected days that are not holidays/non-working days anyway => aka, count the number of required vacation days
          var vacationDaysRequired = document.querySelectorAll('td:has(.dayselect:checked):not(.holiday):not(.nonworkingday)').length;
          if (vacationDaysRequired == 0) {
              document.getElementById('floating-counter').innerText = '';
          } else if (vacationDaysRequired == 1) {
              document.getElementById('floating-counter').innerText = vacationDaysRequired + ' day';
          } else {
              document.getElementById('floating-counter').innerText = vacationDaysRequired + ' days';
          }

          var selectedDays = Array.from(document.querySelectorAll('.dayselect:checked'));
          // get an Array of all selected days' unique IDs
          var selectedDayDates = selectedDays.map((elem) => elem.id);
          localStorage.setItem(storagePrefix + '|selectedDays', JSON.stringify(selectedDayDates));

          updateDeleteButtonVisibility();
      }

      function updateDeleteButtonVisibility() {
          hasSomethingToDelete = (
              (!!localStorage.getItem(storagePrefix + '|hiddenEvents')
                  && localStorage.getItem(storagePrefix + '|hiddenEvents') != '[]')
              ||
              (!!localStorage.getItem(storagePrefix + '|selectedDays')
                  && localStorage.getItem(storagePrefix + '|selectedDays') != '[]')
          );
          if (hasSomethingToDelete) {
              document.getElementById('delete-button').classList.remove('nothing-to-delete');
          } else {
              document.getElementById('delete-button').classList.add('nothing-to-delete');
          }
      }

      function updateTodayMarker() {
          var today = new Date();
          var today_iso = "" +
              today.getFullYear().toString().padStart(4, "0") +
              "-" +
              (1+today.getMonth()).toString().padStart(2, "0") +
              "-" +
              today.getDate().toString().padStart(2, "0");
          var styleString = `
              td:has(#day-${today_iso}) ::before {
                  content: "today ➔ ";
                  color: mediumslateblue;
              }
              `

          var styleSheet = document.getElementById('today-marker-stylesheet');
          if (!styleSheet) {
              styleSheet = document.createElement("style");
              styleSheet.id = 'today-marker-stylesheet';
              document.head.appendChild(styleSheet);
          }
          styleSheet.innerHTML = styleString;
      }

      document.querySelector('table').addEventListener('click', function(target){
          if (target.srcElement.tagName.toLowerCase() == 'div') {
              toggleHiddenEvent(target.srcElement.className);
          }

          if (target.srcElement.tagName.toLowerCase() == 'input') {
              updateSelectedDays();
          }
      },true);

      document.querySelector('#compactcheckbox').addEventListener('click', function(target){
          updateGlobalMaxHeights();
      },true);

      applyHiddenEvents();
      applySelectedDays();
      updateSelectedDays();
      updateDeleteButtonVisibility();

      updateTodayMarker();
      setInterval(updateTodayMarker, 60*1000);

      window.onload = updateGlobalMaxHeights;
  </script>
</html>
