{% set daynames = {1:'Mo', 2:'Di', 3:'Mi', 4:'Do', 5:'Fr', 6:'Sa', 7:'So'} -%}
## {{ year }} nach Wochenenden (Fr-So)
{% for week in weeks -%}
{% set monday = week.days[0].date -%}
{% set friday = week.days[4].date -%}
{% set sunday = week.days[6].date -%}
{% set marker = "**" if week.events|selectattr("status", "==", "CONFIRMED")|selectattr("startdate", ">=", monday)|selectattr("startdate", "<=", sunday)|list|length > 0 else "" -%}
- {{ marker }}{{ friday.day|string + "." }}{{ friday.month|string + "." if friday.month != sunday.month }}-{{ sunday.day|string + "." }}{{ sunday.month|string + "." }}{{ marker }}
{%- for day in week.days|selectattr("bank_holiday") -%}
    {% if loop.first %} ({% endif -%}
    {% set dayitem = daynames[day.weekday] + day.number|string -%}
    {%- if not day.weekend and not day.nonworking_day -%}
        _{{ dayitem }}_
    {%- else -%}
        {{ dayitem }}
    {%- endif -%}
    {%- if not loop.last %}, {% endif -%}
    {%- if loop.last %}){% endif %}
    {%- endfor %}
    {%- for event in week.events if event.startdate >= monday and event.startdate <= sunday %}
        {%- set start = event.startdate -%}
        {%- set end = event.enddate %}
        {%- set marker = "**" if event.status == "CONFIRMED" else ("~~" if event.status == "CANCELLED" else "") %}
    - {{ marker }}{{ start.day|string + "." if start.day != end.day}}{{ start.month|string + "." if start.month != end.month }}{{ "-" if start.day != end.day or start.month != end.month }}{{ end.day|string + "." }}{{ end.month|string + "." }} {{ event.summary }}{% if event.location %}, {{ event.location }}{% endif %}{% if event.category %}{{ marker }} #{{ event.category }}{% endif %}
    {%- if event.description -%}
        {#- prepend a newline to get consistent Markdown linebreaking and indentation -#}
        {{ ('\n'+event.description) | indent(6) | replace("\n", "  \n") }}
    {%- endif -%}
    {%- endfor %}
{% endfor %}
